* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: red;
    font-size: 30px;
}
